body {
    background-color: deepskyblue;
    color: white;
    font-family: Cambria, "Times New Roman", serif;
    font-size: 22px;
}

strong,
code {
    color: gold;
    font-weight: 600;
}

.title {
    font-size: 50px;
    text-align: center;
}

.sub-title {
    width: 500px;
    margin: auto;
}

.banner {
    width: 90%;
    margin: 50px;
}