body {
  font-size: 22px;
  font-family: serif;
}

.box01 {
  background-color: darkgray;
  color: white;
}

.box02 {
  background-color: darkorange;
  color: white;
}

span {
  font-size: 32px;
  color: crimson;
  font-weight: 600;
}

img {
  width: 80px;
}
